<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
       >

    <!-- 注解 -->
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.yhtech"/>
    <!-- 引入外部属性文件 -->
    <context:property-placeholder location="classpath:config.properties"  ignore-unresolvable="true"/>

    <task:annotation-driven scheduler="qbScheduler" mode="proxy"/>
    <task:scheduler id="qbScheduler" pool-size="10"/>

    <!-- 配置dbcp连接池: -->
    <bean id="dbcp" class="com.mchange.v2.c3p0.ComboPooledDataSource"><!--destroy-method="close"-->
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>
        <property name="minPoolSize" value="${jdbc.minPoolSize}"/>
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
        <property name="maxIdleTime" value="${jdbc.maxIdleTime}"/>
        <property name="acquireIncrement" value="${jdbc.acquireIncrement}"/>
        <property name="idleConnectionTestPeriod" value="${jdbc.idleConnectionTestPeriod}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定链接资源 -->
        <property name="dataSource" ref="dbcp"/>
        <!-- 指定映射文件 -->
        <property name="mapperLocations"
                  value="classpath:com/yhtech/**/dao/*.xml"/>
    </bean>

    <!-- 配置MapperScannerConfigurar 以扫描包路径方式批量生成Mapper借口实现    -->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yhtech.finance.dao
     com.yhtech.hr.dao
     com.yhtech.igjia.dao
     com.yhtech.rear.dao
     com.yhtech.yhtech.dao"/>
    </bean>

    <!-- 处理异常
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">index</prop>
            </props>
        </property>
    </bean> -->

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".jsp">
        </property>
        <property name="prefix" value="/">
        </property>
    </bean>

    <mvc:interceptors>
        <!-- 权限认证拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.authority.AuthorityAnnotationInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <import resource="classpath:spring-redis.xml"/>
</beans>